@{
    ViewData["Title"] = "Página Inicial";
}

<section>
    <h2>Seja bem-vindo(a)!</h2>
    <p>
        Corporis est tenetur at sed ut tempore repudiandae. Sed et aliquam accusamus. Accusamus iure tenetur impedit quo nihil qui ea. Voluptatem rerum quis nesciunt sunt deleniti error architecto.
        <br/>
        Minus eos ab exercitationem voluptas et. Eveniet voluptas occaecati est quo est nemo aut iste. Mollitia veritatis possimus id aut consequatur ea.
        <br/>
        Est aut facilis hic velit facilis. Ex nobis sed neque iure rem voluptatem vero. Quos et alias sapiente sit quis ex. Cum sequi sed distinctio nihil. Dolores quidem molestiae non nam et.
        <br/>
    </p>
</section>

<section>
    <h2>Sobre o site</h2>
    <p>
        Aliquam erat volutpat. Duis hendrerit tincidunt nulla in dignissim. Aliquam eget interdum lectus. Mauris eros ex, sollicitudin nec blandit aliquet, ullamcorper vel mi.
        <br/>
        Curabitur et metus dignissim, ultricies orci ac, posuere ligula. Proin eu ipsum orci. Maecenas vitae venenatis quam. Sed eleifend sem sed tempor convallis.
        <br/>
        Sed rutrum, lectus non tincidunt pellentesque, dui ligula interdum mi, tempus scelerisque velit arcu nec orci. Vivamus ut augue ipsum.
        <br/>
        Suspendisse justo sem, dictum porta finibus in, mattis a mauris. Mauris eget lorem vulputate nisi mattis dictum facilisis at metus.
    </p>
</section>