@{
    ViewData["Title"] = "Termos e Políticas do Site";
}

<section>
    <h2>Termos de uso</h2>
    <p>
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque luctus porttitor eleifend.
        Donec ultricies molestie risus, eu accumsan quam viverra non. Nulla efficitur, enim a dapibus consequat, nisi quam maximus quam, nec porta ipsum nisi ut odio.
        Sed quis dolor sit amet nisl suscipit consectetur. Integer ut finibus ligula. Duis dignissim sapien at magna mollis, ut iaculis sem sodales.
        In eleifend dolor ullamcorper mollis laoreet. Praesent quis arcu quam. Curabitur cursus ornare aliquam. Vestibulum faucibus non arcu a congue.
        In condimentum ultricies mi, non finibus libero tempus eget. Ut elementum accumsan sapien a molestie. Curabitur in consequat ante.
        Curabitur eget feugiat arcu. Nunc eu cursus eros, sed elementum enim. In lorem sem, hendrerit non nisi eget, facilisis ullamcorper velit.
        Sed hendrerit dolor velit, a iaculis orci posuere in. Aliquam magna libero, finibus eget lacus non, rutrum ultrices nisl.
        Aenean lacinia est vel magna consectetur, quis posuere magna sodales. Quisque id ultrices odio. In tortor ligula, imperdiet ut ipsum in, consectetur consectetur velit.
        Phasellus cursus facilisis leo quis euismod. Pellentesque turpis diam, placerat in facilisis non, posuere eu enim. Vestibulum placerat dui vel enim vestibulum dapibus.
        Nullam orci ex, mollis sit amet dolor id, commodo ultrices tortor. Vestibulum rutrum ipsum et erat suscipit laoreet. Fusce semper faucibus eros, quis scelerisque lacus aliquam eu.
        Etiam eget nunc mauris. In facilisis rhoncus vehicula. Fusce feugiat ex at felis placerat, et venenatis ligula dignissim. Nam magna sem, volutpat ut fermentum id, vestibulum et sem.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla massa diam, elementum id odio luctus, sollicitudin volutpat nunc.
        Curabitur convallis, mi ut ultricies porta, tellus velit dapibus risus, dictum lobortis nunc neque fermentum nunc. Proin finibus ex non dapibus blandit.
        In hac habitasse platea dictumst. Donec eu leo vel diam pellentesque maximus.
    </p>
</section>

<section>
    <h2>Política de privacidade</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tortor felis, porta eget diam sed, imperdiet congue ligula.
        Nulla eget imperdiet ex, id aliquam ipsum. Quisque nisi felis, ultrices eu dolor a, fermentum imperdiet orci. Nulla facilisis aliquam metus, in varius dolor laoreet interdum.
        Curabitur posuere consectetur nisl eget condimentum. Pellentesque eu metus vel tellus consectetur vulputate. Pellentesque accumsan pharetra feugiat.
        Nulla cursus erat at nulla placerat, congue imperdiet neque fringilla. Suspendisse laoreet eget risus ut commodo. Fusce arcu diam, imperdiet ut convallis eget, rutrum a libero.
        Integer efficitur bibendum lorem ut volutpat. Nullam pharetra, quam eget dapibus sollicitudin, enim mauris tincidunt nulla, quis dapibus odio ipsum ac odio.
        Aenean nec massa et magna pretium condimentum sed convallis nibh. Maecenas quis ipsum vitae ipsum sagittis pretium. Aenean efficitur porttitor ipsum in aliquam.
        Nulla purus nibh, gravida quis auctor id, sagittis vitae elit. Cras eget nunc sit amet orci malesuada pulvinar. Maecenas efficitur sed nibh in pretium.
        Duis leo risus, elementum eu congue et, aliquet nec magna. Cras semper sem ac risus tincidunt, id aliquet mauris pretium. Donec ultrices ante a sapien auctor aliquam.
        Mauris nec pharetra erat, sed euismod neque. Praesent molestie mollis eleifend. Vivamus ullamcorper sagittis nisi, ut faucibus mauris luctus nec.
        Donec finibus ullamcorper ipsum quis sagittis. Sed vel magna turpis. Ut ac lacus id ligula laoreet ultricies.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</section>